<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Northwest Labs Pharmaceutical</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top nav-color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    @Html.ActionLink("Northwest Labs Pharmaceutical", "Index", "Home", new { area = "Employees" }, new { @class = "navbar-brand nav-title" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-list">
                    <!--these routes need to be updated-->
                    <li>@Html.ActionLink("Account", "Rental", "Home", new { @class = "nav-item" })</li>
                    <!--<li>|</li>-->
                    <li>@Html.ActionLink("Help", "About", "Home", new { @class = "nav-item" })</li>
                    <!--<li>|</li>-->
                    <li>@Html.ActionLink("Sign Out", "Email", "Contact", new { @class = "nav-item" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <style>
        .nav-color {
            background-color: white !important;
            border-bottom: 0.5px solid #dedede;
            height: 65px;
        }
        .nav-title {
            font-family: 'Roboto', sans-serif;
            padding-top: 25px;
            color: #2D6A96 !important;
            text-transform: uppercase;
        }
        .nav-title:hover {
            color: #2D6A96;
        }
        .nav-item {
            color: #404040 !important;
            font-family: 'Roboto', sans-serif !important;
            text-transform: uppercase;
            padding-top: 25px !important;
        }
        .nav-item:hover {
            color: #404040;
        }
        .nav-list {
            float: right !important;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>